* {
    background-color: lightgray;
    align-items: center;
}
/* new book button */
button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(103, 179, 103);
    border: none;
    margin: 20px;
    margin-bottom: -10px;
}
/* books styling */
#book {
    /* display: flex; */
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(231, 212, 130);
    margin: 2em;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}
h2 {
    background-color:  rgb(231, 212, 130);
}
h4 {
    color: rgb(153, 75, 75);
    background-color:  rgb(231, 212, 130);
}
p{
    color: rgb(31, 89, 177);
    background-color:  rgb(231, 212, 130);
}
#check {
    background-color:  rgb(231, 212, 130);
}
#checklabel {
    background-color:  rgb(231, 212, 130);
}






#library {
    padding: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


label {
    margin: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#checklabel {
    font-size: 18px;
    margin: 3px;
    font-weight: normal;
}
#checkbox {
    margin-right: 5px;
}

#form {
    padding: 20px;
}
/* user input styling */
input {
    border-radius: 5px;
    background-color: white;
}
/* submit button in form */
#submit {
    background-color: rgb(103, 179, 103);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 4px; */
    /* border: none; */
}